@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

/* Top Section  */
.container {
    background-color: rgb(32, 26, 26);
    width: 80%;
    margin: 100px auto;
    border-radius: 15px;
    display: flex;
}

.left {
    color: white;
    margin-left: 50px;
}

.left h6 {
    background-color: rgb(59, 76, 170);
    font-size: 20px;
    margin-top: 60px;
    width: 100px;
    height: fit-content;
    text-align: center;
    border-radius: 8px;
}

.right img {
    height: auto;
    margin-bottom: 0;

}

/* Bottom Section  */
.bottom-container {
    width: 80%;
    margin: 50px auto 100px auto;
    display: flex;
}

.bottom-left {
    margin-right: 20px;
    margin-left: 20px;
    background-color: black;
    width: 200px;
    height: 100%
}

.bottom-left>h3 {
    background-color: rgb(134, 194, 152);
    height: 50px;
    border-radius: 5px;
    margin: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.match-contain:div {
    display: grid;
    grid-template-columns: repeat(2 1fr);
}

.flag:img {
    display: flex;
    width: 40%;
}

.match-time {
    border-radius: 5px;
    background-color: rgb(247, 237, 215);
    display: flex;
    margin: 5px;
}


/* footer  */
footer {
    background-color: black;
    color: white;
    height: 250px;
}

.interms {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-content: space-between;
    text-align: center;
}

footer>h3 {
    text-align: center;
    font-size: 2em;
}

.icons {
    margin: 0 auto;
    width: 20%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: space-between;
    text-align: center;
}